.MuiTablePagination-actions {
}

.MuiTablePagination-actions > svg {
	font-size: 40px;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
	direction: rtl;
}

.MuiDataGrid-columnHeader {
	background-color: #E9F0EE;
}

.MuiDataGrid-columnHeaderTitle {
	color: #498758;
	font-weight: bold !important;
}

.MuiDataGrid-virtualScroller {
	max-height: calc(100vh - 600px); /* Set the desired height for the container */
	overflow-y: auto !important; /* Enable vertical scroll */
	overflow-x: hidden !important; /* Enable vertical scroll */
}
