.toggle-filter-container-like {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	background-size: 100% 100%;
	cursor: pointer;
	user-select: none;
}

.toggle-filter-unchecked-like {
	border-radius: 10px;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
