.delay-reason-container {
	padding: 30px;
	direction: rtl;
	height: 300px;

	fieldset {
		border-width: 1px !important;
	}

	.delay-reason-buttons {
		padding-top: 60px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}