.MuiTablePagination-actions {
	direction: ltr;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
	direction: rtl;
}

.MuiDataGrid-columnHeader {
	background-color: #E9F0EE;
}

.MuiDataGrid-columnHeaderTitle {
	color: #498758;
	font-weight: bold !important;
}